<html>
<body>
 
Installation:
- npm install typescript -g (tsc -v)
- apm install atom-typescript
- npm install -g angular-cli

Commands:
- ng new project-name (creates a project)
- ng new project-name --prefix ab (creates a project but prefixes templates with 'ab' or anything else you choose)
 
Create/Add Component Workflow (Be in app folder or deeper):
- ng g c componentname --flat (--flat (optional) flag will disallow this component from being inside its own folder)
- In app.component.ts add:
  - import { ComponentnameComponent } from './componentname.component';
- In your template (.html) file add component selector tags found in componentname.component.ts
 
 Create a Class:
- ng g cl classname
- import { Classname } from '../classname'; (Import this wherever it is needed; from 'whichever directory it's in')
 
Data passage example (Recipe-list, recipe-detail, recipe):
- Overview: The recipe-list has a recipe that we want to display on recipe-detail. recipe-detail will be displayed on recipe.
- Recipe constructed in the recipe-list component
  - Displayed on recipe.html, gives information through output emitter (Property binding, emits with click event)
- Recipe information called in recipe-detail component (@Input() takes any information emitted)
  - Also displayed on recipe.html so it has access to the information emitted
  - Formats information on its frontend, which is displayed on recipes template
- Recipe constructed displayed on recipes template (which is displayed on the app template)
 
 Create a Directive:
 - ng g directive directivename
 
 Directives:
 - Instructions: Tells Angular 2 what to do ; Components <component-name></component-name>
 - <li *ngFor="let item of items">{{ item }}</li> (Tells Angular 2 to Loop)
 - <my-component></my-component> (Tells Angular 2 to render a component to a page)
 - Attribute Directives: Interact with Element applied to
  - ngClass ([ngClass] brackets are used for property binding)
 - Structural Directives: Interact with DOM
  - *ngIf

 Debug:
 - Chrome Debugger, sourcemaps, Augury
 
 Services:
 - Provide, Store, Interact with Data (eg interact with a DB on a server)
 - Provide communications for components and classes
 - Access to business logic from various locations within your app (DRY)
  B. Dependency Injection:
  - Giving an instance of a service to components, directives, classes, etc.
   - eg. constructor(argument: Service) {} ...and in the component (or a higher level) -> provide: [Service]

</body>
</html>
