<html>
<body>
  
 Notes for new project creation:
 - Gemfile addition:
  - group :development, :test do
        gem 'byebug', platform: :mri
        gem 'rspec-rails'
        gem 'capybara'
        gem 'launchy'
        gem 'pry'
        gem 'shoulda-matchers'
        gem 'factory_girl_rails'
        gem 'simplecov', require: false
     end
 - rails generate rspec:install (Terminal)
 - rails_helper.rb addition:
  - require 'capybara/rails' (after require 'rspec/rails)
  - Shoulda::Matchers.configure do |config|
      config.integrate do |with|
        with.test_framework :rspec
        with.library :rails
      end
    end
- mkdir spec/features (Terminal)
- spec/spec_helper.rb addition:
- require 'simplecov'
SimpleCov.start
- config/environments/test.rb modify:
  - config.eager_load = true (set to false by default)
  
 Bootstrap Setup:
 - gem 'bootstrap-sass', '~> 3.3.6' (Gemfile, then bundle)
 -  app.scss:
    @import "bootstrap-sprockets";
    @import "bootstrap";
 - app.js, after jquery, jquery_ujs:
  //= require bootstrap-sprockets
 - Restart the server

Sample workflow:
- DB creation, migration (modelname db)
- create model < ActiveRecord::Base (in app/models/modelname.rb)
- create spec (in spec/models/modelname_spec.rb)
- create route (in config/routes.rb)
  - Rails.application.routes.draw do
     resources :modelnames (<- plural)
    end
- create controller (in app/controllers/modelnames_controller.rb) (<- plural)
   - class ModelnamesController < ApplicationController (<- plural, caps camel)
      def index
        @modelnames = Modelname.all (<- plural; caps)
        render :index
      end
    end
- create folder modelnames and index.html.erb in that folder (app/views/modelnames/index.html.erb)
- http://localhost:3000/modelnames (<- plural)
                                       
Devise:
- Gemfile Addition:
  - gem 'devise'
- bundle install (terminal)
- rails g devise:install (terminal)
- config/environments/development.rb addition:
  - config.action_mailer.default_url_options = { host: 'localhost', port: 3000 }
- rails g devise user (migration file, editable)
- rake db:migrate
- ApplicationController addition:
  - before_action :authenticate_user! (after protect_from_forgery with: :exception line)
- Home page controller addition (example):
  - skip_before_action :authenticate_user!, :only => [:index]
- Add to application.html (above yield, in p tags with class notice, alert respectively(optional)):
  - <%= notice %>
  - <%= alert %>
http://codepany.com/blog/rails-5-user-accounts-with-3-types-of-roles-devise-rails_admin-cancancan/
http://guides.railsgirls.com/devise
https://github.com/plataformatec/devise
  
  CUSTOM FIELDS

rails generate devise:views
new.html.erb & edit.html.erb (registrations folders)
    <%= f.label :name %>
    <%= f.text_field :name %>
    
App controller
      before_action :configure_permitted_parameters, if: :devise_controller?

protected
  def configure_permitted_parameters
    devise_parameter_sanitizer.permit(:sign_up) do |user_params|
      user_params.permit(:name, :email, :password, :password_confirmation)
    end
    devise_parameter_sanitizer.permit(:sign_in) do |user_params|
      user_params.permit(:name, :email, :password)
    end
    devise_parameter_sanitizer.permit(:account_update) do |user_params|
      user_params.permit(:name, :email, :current_password, :password, :password_confirmation)
    end
  end

FactoryGirl:
https://www.sitepoint.com/learn-the-first-best-practices-for-rails-and-rspec/
  
Paperclip:
- Gemfile:
  - gem "paperclip", git: "git://github.com/thoughtbot/paperclip.git"
- Example Model:
  class User < ActiveRecord::Base
    has_attached_file :avatar, styles: { medium: "300x300>", thumb: "100x100>" }, default_url: "/images/:style/missing.png"
    validates_attachment_content_type :avatar, content_type: /\Aimage\/.*\z/
  end
- Example Migration:
  - rails generate paperclip user avatar
  class AddAvatarColumnsToUsers < ActiveRecord::Migration
    def up
      add_attachment :users, :avatar
    end

    def down
      remove_attachment :users, :avatar
    end
  end
- Example Views (upload_avatar.html.erb):
  <%= render 'layouts/errors', object: @user %>

  <%= form_for(@user, multipart: true) do |f| %>
    <div class="field">
      <%= f.label :avatar %>
      <%= f.file_field :avatar, required: true %>
    </div>
    <div class="actions">
      <%= f.submit 'Upload' %>
    </div>
  <% end %>
- Example Custom Route:
  - get 'upload' => 'users#upload_avatar'
- Remember:
  - params.require(:user).permit(:avatar)
    
    gem 'acts_as_votable', '~> 0.10.0'


rails generate acts_as_votable:migration
rake db:migrate

Model
class Post < ActiveRecord::Base
  acts_as_votable
end


Controller Action - index or show

    if params[:upvote]
      @question = Question.find(params[:upvote])
      @question.liked_by current_user
    end
    if params[:downvote]
      @question = Question.find(params[:downvote])
      @question.disliked_by current_user
    end
    
    
    
    index.html.erb -
        <span class="glyphicon glyphicon-arrow-up" aria-hidden="true"></span>
        <%= link_to "Vote", :upvote => question.id %>
        <span class="vote-number"><%= question.get_likes.size %></span>
      
      
        <span class="glyphicon glyphicon-arrow-down" aria-hidden="true"></span>
        <%= link_to "Vote", :downvote => question.id %>
        <span class="vote-number"> <%= question.get_dislikes.size %></span>
          
PhantomJS Setup
- gem 'poltergeist'
- Create file spec/support/shared_db_conntection.rb
class ActiveRecord::Base
  mattr_accessor :shared_connection
  @@shared_connection = nil

  def self.connection
    @@shared_connection || retrieve_connection
  end
end

ActiveRecord::Base.shared_connection = ActiveRecord::Base.connection
 
- rails_helper.rb addition (inside rspec.configure do |config| block)
          config.include Warden::Test::Helpers
- At the top (rails helper):
require 'spec_helper'
require 'rspec/rails'
require 'capybara/rails'
require 'launchy'
require 'capybara/poltergeist'
require 'support/factory_girl'
require 'support/shared_db_connection'
          
- Spec_helper.rb additon (at the top):
require 'capybara/poltergeist'
Capybara.javascript_driver = :poltergeist
          
- ngrok
  - brew cask install ngrok
          setup auth token and secure tunnel (to 3000, like the rails server)
          - $ ngrok authtoken <token here>
  - ngrok http 3000
    - open web interface or tunnel to server

</body>
</html>
